
/* General Styling */

* {
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Dosis', sans-serif;
    color: rgb(11, 29, 55);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2.75rem;
    font-weight: bold;
}

h3 {
    font-size: 2.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

p, span, li, span {
    font-size: 1.125rem;
    font-weight: 400;
}

img {
    width: 100%;
    height: 100%;
}

.mobile {
    display: none;
}


/* General Styling for sections and Info Box flexbox */

section {
    width: 100%;
    padding: 2rem 4rem 3rem;
    scroll-margin-top: 64px; /* Add an offset to all hyperlinks, so that they don't be hidden by the top bar*/
}

.section-title {
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 2.5rem;
}

div.info-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.info-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    border-left: .5px solid rgb(11, 29, 55);
}

div.info-img {
    width: 35%;
    padding: 1rem;
}

div.info-text {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.flex-item {
    padding: 0.5rem 1%;
}

@media only screen and (max-width: 1300px) {
    /* Smaller screens adaptation */
    div.info-img {
        width: 35%;
        padding: 0.5rem;
    }
    .flex-item {
        padding: 0.25rem 0 0.25rem .5rem;
    }
}


/* Header and Navigation Bar Styling */

header {
    position: fixed;
    display: inline-flex;
    top: 0;
    overflow: hidden;
    background-color: rgb(255, 189, 154);
    width: 100%;
    height: 64px;
    z-index: 1;
}

header .logo {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-left: 24px;
}
header img {
    height: 2.5rem;
    width: auto;
}
header .logo h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
}
header .logo span {
    font-weight: 200;
    font-size: inherit;
}

header nav {
    margin: auto 0;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
header nav ul {
    display: flex;
    justify-content: flex-end;
}
header nav ul li {
    padding: 0.5rem;
}
header nav ul li:last-child {
    margin-right: 1rem;
}

/* Mobile Navigation Bar (breaks at 740px width) */

@media only screen and (max-width: 740px) {
    header nav.mobile {
        display: flex;
        width: 100%;
        margin: 1% 2.5rem;
        align-items: center;
        justify-content: space-between;
    }

    header div.logo, header nav.web {
        display: none;
    }
}

/* WebSite - Banner Style */

#banner {
    display: inline-flex;
    margin-top: 64px;
    background-color: rgb(255, 216, 204);
}

#banner .img-container {
    width: 60%;
    padding-right: 2rem;
}

#banner div.banner-container {
    display: inline-flex;
    width: 40%;
    padding-right: 6%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner .banner-container .banner-item {
    margin: 2rem 1rem 2rem 0.5rem;
    width: 100%;
}

.banner-container button.banner-item {
    background-color: rgb(11, 29, 55);
    color: rgb(228, 233, 243);
    border: none;
    padding: 12px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.325rem;
    cursor: pointer;
    border-radius: 1rem;
}

/* Mobile and Responsive Banner Section (breaks at 980px width) */
@media only screen and (max-width: 1200px) {

    #banner div.banner-container {
        padding: 0;
    }
    #banner .banner-container .banner-item {
        margin: 1.75rem 0;
    }
}

@media only screen and (max-width: 980px) {

    #banner {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    #banner div {
        width: 100%;
    }

    #banner div.img-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #banner div.banner-container {
        width: 100%;
        padding: 2rem 3rem 3rem;
        margin: 0;
        gap: 2rem;
    }

    #banner .banner-container .banner-item {
        margin: 0;
    }
}

@media only screen and (max-width: 720px) {

    #banner div.banner-container {
        padding: 2rem 1rem 2rem;
    }
}


/* WebSite - Campus Informational Section */

#information {
    display: inline-flex;
    background-color: rgb(255, 238, 219);
}

#information .info-banner {
    width: 60%;
    padding: 1rem 2rem 0 0;
}

#information .info-banner div h2 {
    margin: 2rem 0 1.5rem;
}

#information p a {
    color: rgb(11, 29, 55);
    font-weight: 500;
    text-decoration: underline;
}

/* Mobile and Responsive Information Section (breaks at 1050px width) */
@media only screen and (max-width: 1050px) {

    #information .info-banner {
        display: none;
    }

    #information div.info-container {
        width: 100%;
    }

    #information div.info-box {
        border: none;
    }
    
    #information .flex-item {
        padding: 0.25rem 0 0.25rem .5rem;
    }
}

@media only screen and (max-width: 680px) {

    #information {
        padding: 1.5rem 1rem 1rem;
    }

    #information div.info-img {
        width: 100%;
        padding: 0;
    }

    #information div.web {
        display: none;
    }
    #information div.mobile {
        display: block;
    }

    #information div.info-text {
        width: 100%;
        padding: 0.5rem 1rem 2.5rem;
        border: 0;
    }

    #information .flex-item {
        padding: 0.5rem 
    }
}

/* Learning Courses Section */

#courses {
    background-color: rgb(255, 216, 204);
}

#courses .courses-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 2rem;
}

#courses .courses-container .course-box {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    max-width: 30%;
}

#courses .course-box div.course-text {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1.5rem 1rem;
    width: 100%;
    height: 100%;
}

#courses div.course-mobile {
    width: 100%;
    text-align: center;
    padding: 1rem 1rem 1.5rem;
    margin: .25rem 0;
    background-color: whitesmoke;
    color: rgb(11, 29, 55);
    font-weight: 800;
}


/* Mobile and Responsive Courses Section (breaks at 780px width) */
@media only screen and (max-width: 1200px) {

    #courses {
        padding: 2rem 1.5rem 2rem;
    }

    #courses .courses-container {
        justify-content: space-around;
        padding: 0;
    }

    #courses .course-box div.course-text {
        padding: 1rem;
        width: 100%;
    }

    #courses div.course-text h3{
        font-size: 2rem;
    }  
}

@media only screen and (max-width: 780px) {
    #courses div.web {
        display: none;
    }

    #courses div.mobile {
        display: flex;
        flex-wrap: wrap;
    }
}


/* Thesis Exhibition Section */

#thesis {
    background-color: rgb(255, 238, 219);
}

#thesis .section-container {
    display: inline-flex;
    width: 100%;
}

#thesis .thesis-video {
    width: 60%;
    padding: 1rem 2rem 0 0;    
}

#thesis .thesis-video video {
    width: 100%;
}


/* Mobile and Responsive Thesis Exhibit Section (breaks at ??? width) */
@media only screen and (max-width: 1000px) {

    #thesis .web {
        display: none;
    }

    #thesis {
        padding: 2rem 1rem 3rem;
    }

    #thesis div.thesis-video {
        width: 100%;
        margin: 0rem 1rem;
        padding: 0;
    }
}

@media only screen and (max-width: 680px) {

    #thesis {
        padding: 1.5rem 0rem 0rem;
    }

    #thesis div.thesis-video {
        margin: 0;
    }

    footer {
        padding: .5rem 1rem;
    }

    footer div.web {
        display: none;
    }
}


/* Footer Section */

footer {
    height: 72px;
    width: 100%;
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

footer ul {
    display: inline-flex;
    justify-content: flex-end;
    gap: 1.5rem;
}